* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-color: #e3e2de;
  font-size: 18px;
  font-family: 'Yusei Magic', sans-serif; }

.index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 30rem 80rem 10rem;
  grid-template-areas: "header" "hero" "main" "footer"; }
  @media screen and (max-width: 768px) {
    .index {
      grid-template-rows: 10rem 30rem 120rem 10rem; } }

.header {
  grid-area: "header"; }
  .header__nav {
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em; }
  @media screen and (max-width: 992px) {
    .header__link {
      width: 216px;
      height: 175px;
      display: flex;
      align-items: center;
      justify-content: center; } }
  .header__logo {
    display: inline;
    width: 30%; }
    @media screen and (max-width: 992px) {
      .header__logo {
        width: 90%; } }
  .header__anchor {
    color: #777;
    font-family: Georgia;
    text-decoration: none; }
  .header__list {
    display: inline;
    width: 100%; }
  .header__item {
    display: inline; }
  .header__button {
    width: 20%;
    height: 5em;
    background-color: #e3e2de;
    border: 2px solid black; }
    @media screen and (max-width: 992px) {
      .header__button {
        width: 70%;
        height: 2em; } }
  .header__button:hover {
    background-color: #d1d0cd; }

.hero__index {
  display: flex;
  background-image: url("../Assets/background_one.png");
  margin-top: 0;
  height: 25em;
  background-size: cover;
  box-sizing: border-box;
  grid-area: hero;
  justify-content: end; }

.hero__estudios {
  display: flex;
  background-image: url("../Assets/background_two.jpg");
  margin-top: 0;
  height: 25em;
  background-size: cover;
  box-sizing: border-box;
  grid-area: hero;
  justify-content: end; }

.hero__contenido {
  width: 30%;
  text-align: center;
  margin: 6em; }
  @media screen and (max-width: 768px) {
    .hero__contenido {
      width: 70%; } }

.hero__title {
  text-align: center;
  margin: 2em auto;
  font-family: Georgia;
  font-size: 8rem;
  color: #e3e2de; }

.main {
  grid-area: "main";
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .main {
      margin-top: 0; } }
  .main__title {
    text-align: center;
    margin: 1em auto;
    font-family: Georgia;
    font-size: 3em; }
  .main__anmat {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 3em auto; }
  .main__logoAnmat {
    width: 20%; }
  .main__cards {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly; }
    @media screen and (max-width: 768px) {
      .main__cards {
        flex-direction: column; } }
  .main__card {
    background: #e8e1e7;
    box-shadow: 0 0 16px rgba(32, 4, 69, 0.5);
    width: 30%;
    margin: 1.66%;
    margin-top: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main__card {
        width: 80%;
        margin: 2rem auto; } }
  .main__imageCard {
    width: 18%;
    object-fit: contain;
    border-radius: 1rem; }
  .main__text {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2rem auto; }
    @media screen and (max-width: 992px) {
      .main__text {
        width: 100%; } }
  .main__table, .main__tableDesktop, .main__tableMobile {
    border-collapse: collapse;
    width: 90%;
    margin: 2rem auto; }
  @media screen and (max-width: 576px) {
    .main__tableDesktop {
      display: none; } }
  .main__tableMobile {
    display: none;
    margin: 1rem auto; }
    @media screen and (max-width: 576px) {
      .main__tableMobile {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 8rem; } }
  .main__th {
    border: 1px solid black;
    margin: 0 0; }
  .main__td {
    border: 1px solid black;
    margin: 0 0;
    height: 2rem; }
  .main__audiometriaPanelControl {
    display: flex;
    margin: 2rem; }
  .main__audPanel {
    border: 2px solid black;
    /* width: 45%; */
    text-align: center; }
    @media screen and (max-width: 768px) {
      .main__audPanel {
        width: 100%; } }
  .main__audSenal {
    border-bottom: 1px solid black;
    display: flex;
    height: 50%;
    align-items: center; }
    @media screen and (max-width: 576px) {
      .main__audSenal {
        height: 60%; } }
  .main__audOido {
    width: 50%; }
  .main__audPlay {
    border: 2px solid black; }
  .main__audEnmascarar {
    border: 2px solid black;
    text-align: center;
    padding-top: 1%; }
  .main__logo1 {
    display: flex;
    margin: 2rem;
    justify-content: space-around; }
    @media screen and (max-width: 992px) {
      .main__logo1 {
        margin-top: 0;
        flex-direction: column;
        align-items: center; } }
  .main__logoLista1 {
    border: 2px black solid;
    width: 16%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoLista1 {
        width: 90%; } }
  .main__logoLista2 {
    border: 2px black solid;
    width: 16%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoLista2 {
        width: 90%; } }
  .main__logoLista3 {
    border: 2px black solid;
    width: 14%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoLista3 {
        width: 90%; } }
  .main__logoEnmascarar {
    border: 2px black solid;
    width: 25%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoEnmascarar {
        width: 90%; } }
  .main__logo2 {
    display: flex;
    margin: 2rem;
    justify-content: space-around; }
    @media screen and (max-width: 992px) {
      .main__logo2 {
        flex-direction: column;
        align-items: center; } }
  .main__logoTable {
    border-collapse: collapse;
    width: 40%;
    border: 2px solid black; }
    @media screen and (max-width: 992px) {
      .main__logoTable {
        width: 90%; } }
  .main__logoPanel {
    border: 2px solid black;
    width: 25%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoPanel {
        width: 90%; } }
  .main__logoPlay {
    border: 2px solid black;
    width: 25%;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .main__logoPlay {
        width: 90%; } }
  .main__contenedorBtn {
    text-align: right;
    padding-right: 4rem; }
  .main__div--padding {
    padding: 1rem; }
  .main__div--border {
    border: 2px solid black; }
  .main__div--width20 {
    width: 20rem; }
  .main__div--width40 {
    width: 40rem; }
  .main__div--inline {
    display: inline-block; }

.footer {
  grid-area: "footer";
  display: inline-flex;
  background-color: #777;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .footer__p {
    display: inline-flex; }
  .footer__list {
    list-style: none;
    display: inline-flex; }
  .footer__link {
    color: black;
    font-size: 1.5rem;
    margin: 1rem; }

.btn__principal, .btn__play {
  display: block;
  border: 1px solid black;
  margin: 2rem auto;
  width: 10rem;
  height: 3rem;
  font-family: Georgia;
  font-weight: 600; }

.btn__play {
  background-color: #d1d0cd; }

.btn__lista1 {
  width: 25%; }

.btn__lista2 {
  width: 45%; }

.btn__lista3 {
  width: 55%; }

.btn__lista1:hover {
  background-color: #d1d0cd; }

.btn__lista2:hover {
  background-color: #d1d0cd; }

.btn__lista3:hover {
  background-color: #d1d0cd; }

.btn__correcto {
  width: 2rem;
  height: 2rem;
  background-color: green; }

.btn__incorrecto {
  width: 2rem;
  height: 2rem;
  background-color: red; }

form {
  line-height: 2rem;
  text-align: center; }

.table--width30 {
  width: 30%; }

.table--inline {
  display: inline-table; }

.btn--inline {
  display: inline; }

.p--inline {
  display: inline-block; }
