@import "./variables";
@import "./responsive";

.header{

    grid-area: "header";
    
    &__nav{
        background-color: map-get($colores, grisOscuro);
        display: flex;
        align-items : center;
        justify-content : center;
        height: 10em;
    }

    @include laptop{
        &__link{
            width: 216px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    &__logo{
        display: inline;
        width: 25%;
        @include laptop{
            width: 80%;
        }
    }
    
    &__anchor{
        color: map-get($colores, grisOscuro);
        font-family: Georgia;
        text-decoration: none;
    }
    
    &__list{
        display: inline;
        width: 100%;
    }    
    
    &__item{
        display: inline;
    }
    
    &__button{
        width: 20%;
        height: 5em;
        background-color: map-get($colores, grisClarito);
        border: 2px solid black;
        @include laptop{
            width: 70%;
            height: 2em;
        }
    }
    
    &__button:hover{
        background-color: map-get($colores, grisHover);
    }
}
