@import "./responsive";

.main{
    grid-area: "main";
    margin-top: 2rem;
    @include superCentro;

    @include laptop {
        margin-top: 0;
    }

    &__title{
        text-align: center;
        margin: 1em auto;
        font-family: Georgia;
        font-size: 3em;
    }

    &__anmat{
        @include superCentro;
        margin: 3em auto;
    }

    &__logoAnmat{
        width: 20%;
    }

    &__cards{
        margin: 1rem auto;
        display: flex;
        justify-content: space-evenly;

        @include tablet{
            flex-direction: column;
        }
    }

    &__card{
        background: rgb(232, 225, 231);
        box-shadow: 0 0 16px rgba(32, 4, 69, 0.5);
        width:30%;
        margin: 1.66%;
        margin-top: 10rem;
        padding: 1rem;
        border-radius: 2rem;
        text-align: center;

        @include tablet{
            width: 80%;
            margin: 2rem auto;
        }
    }

    &__imageCard{
        width: 18%;
        object-fit: contain;
        border-radius: 1rem;
    }

    &__text{
        width: 80%;
        display: flex;
        @include superCentro;
        margin: 2rem auto;
        @include laptop{
            width: 100%;
        }
    }
    
    &__table{
        border-collapse: collapse;
        width: 90%;
        margin: 2rem auto;
    }

    &__tableDesktop{
        @extend .main__table;
        @include movil{
            display: none;
        }

    }

    &__tableMobile{
        @extend .main__table;
        display: none;
        margin: 1rem auto;        
        @include movil{
                display: block;
                @include superCentro;
                margin-left: 8rem;

        }
    }

    
    &__th{
        border: 1px solid black;
        margin: 0 0;
    }
    
    &__td{
        border: 1px solid black;
        margin: 0 0;
        height: 2rem;
    }
    
    &__audiometriaPanelControl{
        display: flex;
        margin: 2rem;    
    }
    
    &__audPanel{
        border: 2px solid black;
        /* width: 45%; */
        text-align: center;
        @include tablet{
            width: 100%;
            
        }
    }
    
    &__audSenal{
        border-bottom: 1px solid black;
        display: flex;
        height: 50%;
        align-items: center;
        @include movil {
            height: 60%;
        }
    }

    &__audOido{
        width: 50%;
    }
    
    &__audPlay{
        border: 2px solid black;
    }
    
    &__audEnmascarar{
        border: 2px solid black;
        text-align: center;
        padding-top: 1%;
    }

    &__logo1{
        display: flex;
        margin: 2rem;
        justify-content: space-around;
        @include laptop {
            margin-top: 0;
            flex-direction: column;
            align-items: center;   
        }
    }
    
    &__logoLista1{
        border: 2px black solid;
        width: 16%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logoLista2{
        border: 2px black solid;
        width: 16%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logoLista3{
        border: 2px black solid;
        width: 14%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logoEnmascarar{
        border: 2px black solid;
        width: 25%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logo2{
        display: flex;
        margin: 2rem;
        justify-content: space-around;
        @include laptop {
            flex-direction: column;
            align-items: center;   
        }
    }
    
    &__logoTable{
        border-collapse: collapse;
        width: 40%;
        border: 2px solid black;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logoPanel{
        border: 2px solid black;
        width: 25%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }
    
    &__logoPlay{
        border: 2px solid black;
        width: 25%;
        text-align: center;
        @include laptop {
            width: 90%;
        }
    }

    &__contenedorBtn{
        text-align: right;
        padding-right: 4rem;
    }
    
    &__div--padding{
        padding: 1rem;
    }
    
    &__div--border{
        border: 2px solid black;
    }
    
    &__div--width20{
        width: 20rem;
    }
    
    &__div--width40{
        width: 40rem;
    }
    
    &__div--inline{
        display: inline-block;
    }
}